<div id="login">
  <div id="login__blur"></div>
  <div class="mdc-layout-grid" id="login__form">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3"></div>
      <div class="mdc-layout-grid__cell--span-6">
        <%= form_with scope: :user, url: signin_path, class: 'mdc-card', method: :post do |f| %>
          <h5 class="mdc-typography--headline5 secondary-typography">Iniciar sesión</h5>
          <br>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <i class="material-icons mdc-text-field__icon">account_circle</i>
            <%= f.text_field :email, class: 'mdc-text-field__input', id: 'email', type: 'email' %>
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="email" class="mdc-floating-label">Correo electrónico</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <i class="material-icons mdc-text-field__icon">lock</i>
            <%= f.text_field :password, class: 'mdc-text-field__input', id: 'password', type: 'password' %>
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="password" class="mdc-floating-label">Contraseña</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
          <br>
          <%= f.submit 'continuar', class: 'mdc-button mdc-button--raised', data: { 'mdc-auto-init': 'MDCRipple' } do %>
            <span class="mdc-button__ripple"></span>
          <% end %>
          <%= link_to new_user_path, class: 'mdc-button mdc-button--outlined mdc-theme--on-primary', data: { 'mdc-auto-init': 'MDCRipple' } do %>
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">registrarse</span>
          <% end %>
        <% end %>
      </div>
      <div class="mdc-layout-grid__cell--span-3"></div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'users' %>
