<header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-top-app-bar--force-black <%= (current_page? root_path or current_page? signin_view_path or current_page? signup_view_path or current_page? account_path) ? "" : "mdc-top-app-bar--force-black" %> mdc-theme--transparent mdc-theme--on-secondary" data-mdc-auto-init="MDCTopAppBar">
  <div class="mdc-top-app-bar__row">
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title secondary-typography">iFoodX</span>
    </div>
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <%= link_to root_path, class: 'mdc-button mdc-top-app-bar__action-item mdc-theme--on-secondary', data: { 'mdc-auto-init': 'MDCRipple' } do %>
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">inicio</span>
      <% end %>
      <% if logged_in? %>
        <%= link_to orders_path, class: 'mdc-button mdc-top-app-bar__action-item mdc-theme--on-secondary', data: { 'mdc-auto-init': 'MDCRipple' } do %>
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">pedidos</span>
        <% end %>
        <%= link_to account_path, class: 'mdc-button mdc-button--raised mdc-top-app-bar__action-item', data: { 'mdc-auto-init': 'MDCRipple' } do %>
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">mi cuenta</span>
        <% end %>
      <% else %>
        <%= link_to signin_view_path, class: 'mdc-button mdc-button--raised mdc-top-app-bar__action-item', data: { 'mdc-auto-init': 'MDCRipple' } do %>
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">acceder</span>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
